@import "code.css";

section.post-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: calc(var(--spacing) * 2);
    > * {
        max-width: var(--max-content-width);
        width: 100%;
    }

    h1 {
        padding: var(--spacing);
    }

    ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
            width: 100%;
            border-radius: 4px;
            padding: var(--spacing);
            transition: background-color 0.3s ease;
            &:hover {
                background-color: var(--color-tertiary);
            }
            a {
                display: inline-flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                &:hover {
                    text-decoration: none;
                }
            }
            span.title {
                font-weight: bold;
                font-size: 1.5rem;
            }
            span.date {
                width: auto;
                margin-right: 0;
                margin-left: auto;
                font-weight: light;
                font-style: italic;
                color: var(--color-white);
            }
        }
        li::marker {
            font-size: 1.2em;
        }

        li:not(:last-child) {
            margin-bottom: calc(var(--spacing) * 1.25);
        }
    }
}

.blog-post {
    width: 100%;
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    line-height: 1.6;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-block-start: calc(var(--spacing) / 2);
        margin-block-end: calc(var(--spacing) / 2);
    }

    p {
        --spacing: 0.5rem;
        margin-block-start: calc(var(--spacing) / 2);
        margin-block-end: calc(var(--spacing) / 2);
    }

    .back-link {
        align-self: flex-end;
        margin-bottom: calc(var(--spacing) / 2);
    }

    h1 {
        font-size: 3rem;
        font-weight: 900;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    h3 {
        font-size: 2rem;
        font-weight: 900;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
    }

    h6 {
        font-size: 1rem;
        font-weight: bold;
    }
}
