@import "normalize.css";

/* Font Face Declarations for Bricolage Grotesque */
@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./fonts/BricolageGrotesque/BricolageGrotesque-ExtraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./fonts/BricolageGrotesque/BricolageGrotesque-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./fonts/BricolageGrotesque/BricolageGrotesque-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./fonts/BricolageGrotesque/BricolageGrotesque-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./fonts/BricolageGrotesque/BricolageGrotesque-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./fonts/BricolageGrotesque/BricolageGrotesque-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./fonts/BricolageGrotesque/BricolageGrotesque-ExtraBold.ttf")
        format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Variable font for modern browsers that support it */
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: "Bricolage Grotesque Variable";
        src: url("./fonts/BricolageGrotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
            format("truetype-variations");
        font-weight: 200 800;
        font-stretch: 75% 100%;
        font-optical-sizing: auto;
        font-display: swap;
    }
}

@supports (font-variation-settings: normal) {
    :root {
        font-family:
            "Bricolage Grotesque Variable", "Bricolage Grotesque", sans-serif;
    }

    :root [data-theme="sneakycrow-skeleton"] {
        font-family:
            "Bricolage Grotesque Variable", "Bricolage Grotesque", sans-serif;
    }
}
