@import "normalize.css";
@import "fonts.css";

:root {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 16px;
    --spacing: 1rem;
    --max-content-width: 1000px;

    --light-green: #00f279;
    --dark-green: #00695e;
    --off-black: #1a1a1a;
    --off-white: #e6e6e6;

    --color-primary: var(--light-green);
    --color-tertiary: var(--dark-green);
    --color-white: var(--off-white);
    --color-black: var(--off-black);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
}

a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.back-link::after {
    content: " \21A9";
}

.metadata {
    font-size: 0.75rem;
    color: var(--color-white);
    font-family: monospace;
}

header.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--spacing);

    > * {
        max-width: var(--max-content-width);
    }

    nav {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        a {
            font-size: 1.5rem;
            font-weight: 800;
            text-transform: uppercase;
            transition: opacity 0.2s ease-in-out;
            &:hover {
                text-decoration: none;
                opacity: 0.75;
            }
        }
        a:not(:last-child) {
            padding-right: var(--spacing);
        }
    }
}

main.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

footer.main-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    margin-top: calc(var(--spacing) * 1.5);
}

footer > section.build-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--color-white);
    font-family: monospace;
    opacity: 0.5;
}
