@import "normalize.css";
@import "fonts.css";

:root {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 16px;
    --spacing: 1rem;
    --max-content-width: 1000px;

    --color-primary: #0ba750;
    --color-tertiary: #055227;
    --color-white: #fefcd9;
    --color-black: #1f1f1f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
}

a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul,
ol {
    list-style-position: inside;
    margin: 0;
}

.logo-link {
    display: inline-flex;
    align-items: center;
    color: var(--color-white);
    flex-wrap: nowrap;
    min-width: 300px;
    transition: color 0.2s ease-in-out;

    img {
        width: 100px;
        height: auto;
    }

    h2 {
        margin-left: 0.5rem;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
    }

    &:hover {
        text-decoration: none;
        color: var(--color-primary);
    }
}

.back-link::after {
    content: " \21A9";
}

.metadata {
    font-size: 0.75rem;
    color: var(--color-white);
    font-family: monospace;
}

header.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);

    > * {
        max-width: var(--max-content-width);
    }

    nav {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        a {
            font-size: 1.5rem;
            font-weight: 800;
            text-transform: uppercase;
            transition: color 0.2s ease-in-out;
            color: var(--color-white);
            &:hover {
                text-decoration: none;
                color: var(--color-primary);
            }
        }
        a:not(:last-child) {
            padding-right: var(--spacing);
        }
    }
}

main.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

footer.main-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    margin-top: calc(var(--spacing) * 1.5);
}

footer > section.build-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--color-white);
    font-family: monospace;
    opacity: 0.5;
}
