{{#*inline "head"}}
    <title>sneaky crow</title>
{{/inline}}

{{#*inline "page"}}
  <main class="page">
    <p>Rendered in partial, parent is {{parent}}</p>
    <a href="/blog">go to blog</a>
  </main>
{{/inline}}
{{> (lookup this "parent")}}
