{{#*inline "head"}}
    <title>sneaky crow</title>
{{/inline}}

{{#*inline "page"}}
    <section>
        <p>Rendered in partial, parent is {{parent}}</p>
        <a href="/blog">go to blog</a>
    </section>
{{/inline}}
{{> (lookup this "parent")}}
