{{#*inline "head"}}
    <title>sneaky crow</title>
{{/inline}}

{{#*inline "page"}}
  <p>Rendered in partial, parent is {{parent}}</p>
  <a href="/blog">go to blog</a>
{{/inline}}
{{> (lookup this "parent")}}
