{{#*inline "head"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://unpkg.com/highlightjs-svelte/dist/svelte.min.js"></script>
    <script src="/assets/js/highlight-gleam.min.js"></script>
    <link rel="stylesheet" href="/assets/code.css" />
    <link rel="stylesheet" href="/assets/blog.css" />

    <title>{{ title}}</title>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
{{/inline}}

{{#*inline "page"}}
    <article class="blog-post">
        <h2>{{ title }}</h2>
        <a href="/blog" class="back-link">back</a>
        {{{ content }}}
    </article>
{{/inline}}
{{> (lookup this "parent")}}
