{{#*inline "head"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>

    <script>hljs.highlightAll();</script>
{{/inline}}

{{#*inline "page"}}
    <article class="blog-post">
        <h2>{{ title }}</h2>
        {{{content}}}
    </article>
{{/inline}}
{{> (lookup this "parent")}}
